*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main
{
    background-color: rgba(36, 218, 209, 0.978);
}

header
{
    text-align: center;
    color: rgb(0, 0, 0);
}

.top
{
    text-align: right;
}
.nav
{
    list-style: none;
    text-align: end;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.li
{
    display: inline;
    padding: 20px;
}
li:hover
{
    color: chartreuse;
}

